.launches-title {
  background-color: #E0E0E0;
  border-radius: 16px;
  width: 120px;
  height: 24px;
  font-size: 14px;
  color: #263238;
  padding: 1px 0;
  margin: 0 auto;
}

.separator {
  display: flex;
  width: 1000px;
  margin: 47px auto 0 auto;
  align-items: center;
  text-align: center;
}

.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #E0E0E0;
}

.separator::before {
  margin-right: .25em;
}

.separator::after {
  margin-left: .25em;
}
