.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  background-color: #FFFFFF;
  justify-content: space-between;

  .avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 3rem;
    background-color: #1800F6;
  }
}
