.skeleton {
  .placeholder {
    background-color: #E0E0E0;
    border-radius: 16px;
  }

  .launch-result {
    width: 69px;
    height: 25px;
  }

  .mission-details {
    width: 533px;
    height: 16px;
  }

  .mission-name {
    width: 130px;
    height: 25px;
    margin-left: 16px;
  }

  .launch-date {
    width: 198px;
    height: 15px;
  }

}
