.error-container {
  height: 80vh;
  display: flex;
  place-items: center;
  place-content: center;
  flex-direction: column;

  p {
    color: #212121;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-top: 40px;
    line-height: 26px;
  }
}
